{
    "trailingComma": "all",
    "useTabs": false,
    "tabWidth": 4,
    "semi": false,
    "singleQuote": true,
    "endOfLine": "lf",
    "plugins": [
        "prettier-plugin-tailwindcss"
    ]
}
