@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Narnialone';
    src: url('/fonts/Narnialone-demo.otf') format('opentype');
}

@font-face {
    font-family: 'Aller_Std_It';
    src: url('/fonts/Aller_Std_It.ttf') format('truetype');
}

@font-face {
    font-family: 'just_for_fun';
    src: url('/fonts/just_for_fun.ttf') format('truetype');
}

@font-face {
    font-family: 'Syne Mono';
    src: url('/fonts/SyneMono-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Kanit';
    src: url('/fonts/Kanit-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'IBM Plex Mono';
    src: url('/fonts/IBMPlexMono-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Josefin Sans';
    src: url('/fonts/JosefinSans-VariableFont_wght.ttf') format('truetype');
}

* {
    user-select: none;
}

body,
html {
    height: 100vh;
    width: 100vw;
    margin: 0;
    overflow: hidden;
}
